<launch>
  <param name="/use_sim_time" value="true"/>
  <arg name="odom_frame_id"   default="odom"/>
  <arg name="base_frame_id"   default="base_footprint"/>
  <arg name="global_frame_id" default="map"/>
  <arg name="odom_topic" default="odom" />
  <arg name="orig_costmap_topic" default="/orig_costmap" />
  <arg name="imprecise_costmap_topic" default="/imprecise_costmap" />	
  <arg name="laser_topic" default="scan" />
  <arg name="custom_param_file" default="param/dummy.yaml"/>

  <!-- Move base -->
  <!--
 <include file="move_base.launch.xml"/>
 -->

  <!-- Publishes the voxel grid to rviz for display -->
  <!--
  <node pkg="costmap_2d" type="costmap_2d_markers" name="voxel_visualizer">
    <remap from="voxel_grid" to="costmap/voxel_grid"/>
  </node>
-->
  <!-- Run the costmap node -->
  <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node">
    <rosparam file="param/costmap_common_params.yaml" command="load" ns="costmap" />
    <rosparam file="param/global_costmap_params.yaml" command="load" ns="costmap" />
    <param name="costmap/global_frame" value="$(arg global_frame_id)"/>
    <param name="costmap/robot_base_frame" value="$(arg base_frame_id)"/>
    <remap from="scan" to="$(arg laser_topic)"/>
    <remap from="~costmap/costmap" to="$(arg orig_costmap_topic)"/>
  </node>

  <!-- Run the imprecise costmap node -->
  <node name="imprecise_costmap_node" pkg="imprecise_costmap_2d" type="imprecise_costmap_2d_node" >
    <rosparam file="param/imprecise_costmap_common_params.yaml" command="load" ns="imprecise_costmap" />
    <param name="imprecise_costmap/global_frame" value="$(arg global_frame_id)"/>
    <param name="imprecise_costmap/map_topic" value="$(arg orig_costmap_topic)"/>
    <param name="imprecise_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
    <remap from="imprecise_costmap/costmap" to="$(arg imprecise_costmap_topic)"/>
  </node>


</launch>
